html {
  background-color: #82bfe8;
  font-family: sans-serif;
  transition: ease-in-out 0.5s;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
}

h1 {
  color: rgb(0, 0, 0);
  margin: 0;
  font-size: 34px;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

button {
  height: 40px;
  width: 100px;
  font-size: 16px;
  background-color: #87d992;
  border-radius: 5px;
  font-weight: 700;
  text-transform: uppercase;
}

select {
  width: 120px;
  height: 40px;
}

button:hover {
  background-color: #d99e87;
  transition-duration: 0.5s;
}

.tiles:hover {
  transform: translateY(-4px);
  transition-duration: 0.5s;
  box-sizing: border-box;
  border: solid red 2px;
}

.drag-area {
  min-height: 220px;
  background-color: #ccc;
  margin: 20px 0px;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.4);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.board {
  background-color: white;
  padding: 20px 20px;
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  max-width: 1020px;
  min-height: 630px;
  flex-basis: 100%;
}

.tiles {
  width: 40px;
  height: 40px;
  font-family: serif;
  border-radius: 5%;
  box-shadow: 2px 1px 3px 0 rgba(0, 0, 0, 0.4);
  display: flex;
  font-size: 20px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  margin: 5px 5px;
}

.all_tiles {
  display: flex;
  justify-content: flex-start;
}

.cloned {
  font-size: 72px;
  width: 120px;
  height: 120px;
}

.vowels {
  background-color: #edc7bc;
}

.consonants {
  background-color: #fae79a;
}

.glued {
  background-color: #c1d8ac;
}

.suffix {
  background-color: #f6f053;
  width: 75px;
  font-family: "wmanuscript", sans-serif;
}

.cloned.suffix {
  width: 165px;
}

.level_1 {
  display: none;
}

.level_1_1 {
  flex-wrap: wrap;
  width: 120px;
  height: 200px;
}

footer {
  margin-top: 40px;
  text-align: center;
  color: white;
  font-size: 16px;
}
